extends layout

block content
	center
		.container(style="width:390px;")
			h2(style="color:#000;") PEOPLE
			.space(style="height:12px;")
			ul.list-group
				each use, i in users
					if(user.username!=use.username)
						a(href="/users/profile/"+use._id, style="text-decoration:none")
							li.list-group-item(style="border:0; margin-top:10px;")
								img(src=use.profileimg, onerror="this.src='/img/avatar.png'", style="width: 80px; height: 80px; border-radius:50%;")
								h3(style="color:#880E4F; margin-top:-0.1px")= use.name
						hr(style="color:#000; background-color:#000; border-width:1px")