extends layout

block content
	.container-fluid
		center
			.container1
				img.image(src=username, alt='Avatar')   
				.overlay
					a(href="/users/fileupload" style="text-decoration:none;").text CHANGE

			h1.prtex #{user.name}
